@model Naukari_24March.Models.ProfileData
@{
    ViewData["Title"] = "UploadResume";
}

<h3>@ViewBag.UploadStatus</h3>
<h1>Upload Resume</h1>
<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            Resume size should be less than 5MB.
            Resume should be only .pdf type.
        </dt>
        <dd>
            <input asp-for="@Model.ProfilePicture" type="file">
            <span asp-validation-for="@Model.ProfilePicture"></span>
        </dd>
         <div class="container">
         @Model.UploadStatus
     </div>
    </dl>
    <hr/>
    
    <hr/>
    <input  class="btn btn-success" type="submit" value="Submit" />
    
    <a asp-action="UploadImg">GO Back</a>
</form>


