@{
    ViewData["Title"] = "Home Page";
}
<div class="header">
</div>
<div class="text-center">
    <h1 class="display-4" style="background-color:Orange;"><b>MYJOB.COM</b></h1>
 </div>  
<a class="btn btn-primary" asp-area="" asp-controller="PersonalInfo" asp-action="Create">Register Candidate</a><br><br>

<a class="btn btn-primary" asp-area="" asp-controller="EmployerInfo" asp-action="Create">Register Employer</a><br><br>

<a class="btn btn-primary" asp-area="" asp-controller="PersonalInfo" asp-action="Index">List of Candidates</a><br><br>

<a class="btn btn-primary" asp-area="" asp-controller="EmployerInfo" asp-action="Index">List of Employers</a><br><br>

<a class="btn btn-primary" asp-area="" asp-controller="EmployerInfo" asp-action="Details">Employer DashBoard</a><br><br>

<a class="btn btn-primary" asp-area="" asp-controller="PersonalInfo" asp-action="Details">Candidate DashBoard</a><br><br>






