
@{
    ViewData["Title"] = "Create";
}

@*<h1>@ViewBag.UploadStatus</h1> *@

<input  class="btn btn-success" type="submit" value="Finish" />
 @*<div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>*@

